@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo()
.Grid<Application.Web.Models.CommentViewModel>()
.Name("comments-grid")
.Pageable()
.Sortable()
.Editable(edit =>
    {
        edit.Mode(GridEditMode.InLine);
    })
.ToolBar(tool =>
    {
        tool.Create();
    })
.Columns(col =>
{
    col.Bound(m => m.Content);
    col.Bound(m => m.AuthorUserName);
    col.Command(com =>
        {
            com.Edit();
            com.Destroy();
        }).Title("Commands");
})
.DataSource(data =>
{
    data.Ajax()
        .ServerOperation(true)
        .Model(m =>
        {
            m.Id("Id");
            m.Field(com => com.AuthorUserName).Editable(false);
        })
        .Read("ReadAllComments", "CommentsAdministration")
        .Create("CreateComment", "CommentsAdministration")
        .Update("UpdateComment", "CommentsAdministration")
        .Destroy("DestroyComment", "CommentsAdministration")
        .PageSize(5);
}))