        body {
            background: #000;
            font: 14px Tahoma;
        }
        .character-box, button {
            color: #b39e79;
            width: 400px;
            border: 1px solid #46311b;
            cursor: pointer;
            margin: 0 0 10px 0px;
            background: #17100d;
        }
        button {
            height: 50px;
        }
        .character-box:hover, button:hover {
            background: #31221b;
            color: #d5bd93;
            border: 1px solid #836e53;
        }
        .character-box img {
            width: 380px;
            border: 1px solid #46311b;
            margin: 5px 0 8px 8px;
        }
        .character-box .characterName {
            font: 26px Georgia;
            margin: 10px 0 0px 5px;
            font-weight: bold;
            color: #b26400;
            position: relative;
            top: 5px;
            left: 5px;
        }
        .character-box .characterDescription {
            margin: 5px 10px 5px 10px;
        }