<div class="row" ng-controller="AddArtistController">
    <div class="col-md-6">
        <form class="form-horizontal" name="addArtistForm">
            <h1>Artist</h1>
            <fieldset>
                <legend>Main Information</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" required="required" class="form-control form-validation" id="name" placeholder="Name" ng-model="artist.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-lg-2 control-label">Image</label>
                    <div class="col-lg-10">
                        <input type="text" required="required" class="form-control form-validation" ng-pattern="/\.(gif|jpg|jpeg|tiff|png)$/i" id="image" placeholder="Image URL" ng-model="artist.image">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-lg-2 control-label">Created</label>
                    <div class="col-lg-10">
                        <input type="text" required="required" ng-pattern="/\d\d/\d\d/\d\d\d\d/" class="form-control form-validation" id="date" placeholder="Date Created (dd/mm/yyyy)" ng-model="artist.created">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Optional Information</legend>
                <div class="form-group">
                    <label for="location" class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="location" placeholder="Location" ng-model="artist.additionalInformation.location">
                    </div>
                </div>
                <div class="form-group">
                    <label for="albums" class="col-lg-2 control-label">Albums</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="albums" placeholder="Albums" ng-model="artist.additionalInformation.albums">
                    </div>
                </div>
                <div class="form-group">
                    <label for="singles" class="col-lg-2 control-label">Singles</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="singles" placeholder="Singles" ng-model="artist.additionalInformation.singles">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" ng-disabled="addArtistForm.$invalid" class="btn btn-primary" ng-click="saveArtist(artist, addArtistForm)">Save</button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 image-container">
        <img src="" ng-src="{{artist.image}}" alt=""/>
    </div>
</div>