@model Application.Web.Models.CommentViewModel
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Commented by: @Model.AuthorUserName</h3>
    </div>
    <div class="panel-body">
        @Model.Content
    </div>
</div>