.gameLayer {
    position: absolute;
    width: 640px;
    height: 480px;
    display: none;
}
#root {

}

#mainMenu {
    background: rgba(222,222,222,.9);
    color: black;
}
#mainMenu h3 {
    float: left;
}
#mainMenu #main-menu-navigation {
    float: right;
    border: 1px solid #000;
    width: 40%;
    height: 100%;
}
#mainMenu #main-menu-navigation ul {
    list-style: none;
}
#mainMenu #main-menu-navigation li {
    margin: 20px 0 0 -15px;
}