.image-container img {
    width: 100%;
}

.blue-text {
    color: green;
}
.gray-background {
    background: gray;
}

.gray-background a {
    color: #ffffff;
}
.album-picture {
    width: 140%;
    border: 1px solid #000;
}

input.ng-invalid.ng-dirty.form-validation {
    background: pink;
}

input.ng-valid.ng-dirty.form-validation {
    background: lightgreen;
}