#game-container{
    width: 500px;
    margin: 20px auto;
}

#container {

    margin: auto;
}

#container canvas{
    z-index: 99;
}

#svg-container {
    border: 1px solid black;
    position: absolute;
    margin: auto;
    top: 20px;
    z-index: 2;
}

#wrapper button{
    margin: 30px 10px 0 10px;
}
/*.kineticjs-content {*/
    /*display: none !important;*/
/*}*/