#game-container{
    width: 500px;
    margin: 20px auto;
}

#container {
    border: 1px solid black;
    margin: auto;
}

#svg-container {
    border: 1px solid black;
    position: absolute;
    margin: auto;
    top: 20px;
}
/*.kineticjs-content {*/
    /*display: none !important;*/
/*}*/