body{
    font-family: 'Comic Sans MS';
    background-color: #AAAAAA;
    background-image:url('../images/notebook.png');
}

h1{
    width: 300px;
    margin: auto;
}

#game-container{
    width: 500px;
    margin: 20px auto;
    position: relative;

}

#container {
    margin: auto;

}

#container canvas{
    z-index: 99;
}

#svg-container {
    border: 3px solid black;
    position: absolute;
    margin: auto;
    top: -2px;
    left: -2px;
    z-index: 2;
    background-color: #9A999E;
    background-image:url('../images/green_gobbler.png');
}

#wrapper button{
    margin: 30px 10px 0 10px;
    padding: 10px 20px;
    background: transparent;
    border: none;
}

#wrapper button:hover{
    background-color: #53BF6B;
}

#score {
    margin:40px auto;
	width: 200px;
}

#liveScoreContainer{
    width:120px;
    height:60px;
    border: 1px solid black;
    border-radius: 5px;
    position:absolute;
    top: 10px;
    left: 20px;
}
/*.kineticjs-content {*/
    /*display: none !important;*/
/*}*/