th,tr,td,table,div,p,body,div{ margin: 0;padding: 0;}
body{ font-family: sans-serif; }
thead tr th { font-size: 25px; }
#wrapper { margin: 20px; background-color: #595959; width: 350px; }
td, th, p { padding: 0 10px 10px 10px; vertical-align: top; } 
.grey_text { color: #948e86; font-weight: normal; text-align: left; }
.white_text { color: #f3efe7; font-style: italic; }
.red_text { color: #e60e0c; }
.orange_text { color: #e06d25; } 
a:link { color: #e1c48a; text-decoration: none; }
a:visited { color: #e1c48a; text-decoration: none; }