<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MongoChat.Data.ChatSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MongoChat.Data.ChatSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MongoChat.Data.ChatSettings>
            <setting name="DataBaseHost" serializeAs="String">
                <value>mongodb://root:root@ds063779.mongolab.com:63779/chat</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>chat</value>
            </setting>
        </MongoChat.Data.ChatSettings>
    </applicationSettings>
    <userSettings>
        <MongoChat.Data.ChatSettings>
            <setting name="DatabaseLocalHost" serializeAs="String">
                <value>mongodb://127.0.0.1</value>
            </setting>
        </MongoChat.Data.ChatSettings>
    </userSettings>
</configuration>